body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  margin: 10px 15px 0 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
  background-image: url('https://www.oeveo.com/upload/customAttachment/titan-portrait1626121890.jpeg');
  background-size: cover;
  background-repeat: no repeat;	
  text-align: center;
}

.container  {
	color: white;
}

.container h2 {
  text-transform: uppercase;
  font-weight: 400;  
  font-size: 2em;
}

.container p {
	font-size: .75em;
}

.container p > a {
	color: white;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #EF2A29;
  color: white;
  border: none;
  opacity: 0.9;
  font-size: 1.2em;
  font-weight: bold;
}

input[type=submit]:hover {
  opacity: 1.0; 
}